
<script>
    $(function(){
    	$("#banner").slide();
    })
</script>
<div id="banner" class="banner-container fl">
	<div>
		<img src="images/carousel1.jpg"/>
		<img src="images/carousel2.jpg" />
		<img src="images/carousel3.jpg" />
		<img src="images/carousel4.jpg" />
		<img src="images/carousel5.jpg" />
		<img src="images/carousel6.jpg" />

	</div>
</div>
<div id="broadcast" class="panel fr">
	<div class="panel-header">
		<div class="panel-title fl">
			系统公告
		</div>
		<div class="more fr">
			<a href="#">更多...</a>
		</div>
	</div>
	<div class="panel-body table">
		<div class="table-row">
			<div class="table-cell">
                aaaa
			</div>
		</div>
		<div class="table-row">
			<div class="table-cell">
                aaaa
			</div>
		</div>
	</div>
</div>
