<div class="panel category">
    <div class="panel-header">
        <div class="panel-title fl">
            <i class="iconfont icon-mars"></i>男生
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table">
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
    </div>
</div>
<div class="panel category">
    <div class="panel-header">
        <div class="panel-title fl">
            <i class="iconfont icon-venus"></i>女生
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table">
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
    </div>
</div>
<div class="panel category">
    <div class="panel-header">
        <div class="panel-title fl">
            <i class="iconfont icon-book"></i>出版
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table">
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
                <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
            <div class="table-cell">
                <a href="#">玄幻
            <br/>445977</a>
            </div>
        </div>
    </div>
</div>
