<div class="panel panel-special2 complete fl">
    <div class="panel-header">
        <div class="panel-title fl">
            <i class="iconfont icon-mars"></i>男频完本
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table">
        <div class="table-row">
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-special2 complete fr">
    <div class="panel-header">
        <div class="panel-title fl">
            <i class="iconfont icon-venus"></i>女频完本
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table thumb-list">
        <div class="table-row">
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
            <div class="table-cell thumb-item">
                <div class="thumb">
                    <img src="images/classic1.jpg" />
                </div>
                <div>
                    <span class="book-title">
                    “脱口秀”女...
                    </span>
                </div>
                <div>
                    <span class="book-auth">奥普拉.温...</span>
                </div>
            </div>
        </div>
    </div>
</div>
