<div id="recommend" class="panel panel-special1">
    <div class="panel-header">
        <div class="panel-title fl">
            本周热推
        </div>
        <div class="more fr">
            <a href="#">更多...</a>
        </div>
    </div>
    <div class="panel-body table book-list">
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span>
					微格格
				</span> |
                    <span class="highlight highlight-red">1024</span>人气
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span>
					微格格
				</span> |
                    <span class="highlight highlight-red">1024</span>人气
                </div>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span>
					微格格
				    </span> 
				|
                    <span class="highlight highlight-red">1024</span>人气
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span>
					微格格
				</span> |
                    <span class="highlight highlight-red">1024</span>人气
                </div>
            </div>
        </div>
    </div>
</div>
