<div class="panel panel-special3">
    <div class="panel-header">
        <div class="panel-title">
            出版物
        </div>
    </div>
    <div class="panel-nav">
        <div class="filter">
            <div class="list-label">
                作品类型
            </div>
            <div class="category">
                <a class="category-item active">玄幻</a>
                <a class="category-item">奇幻</a>
                <a class="category-item">武侠</a>
                <a class="category-item">仙侠</a>
                <a class="category-item">都市</a>
                <a class="category-item">职场</a>
                <a class="category-item">历史</a>
                <a class="category-item">军事</a>
                <a class="category-item">游戏</a>
                <a class="category-item">竞技</a>
                <a class="category-item">科幻</a>
                <a class="category-item">灵异</a>
                <a class="category-item">同人</a>
                <a class="category-item">轻小说</a>
            </div>
        </div>
        <div class="sub-category">
            <p>
                <i class="sub-list-label">具体类型:</i>
                <a class="sub-category-item active">全部</a>
                <a class="sub-category-item">东方玄幻</a>
                <a class="sub-category-item">异界大陆</a>
                <a class="sub-category-item">异界争霸</a>
                <a class="sub-category-item">远古神话</a>
            </p>
        </div>
        <div class="more-filter">
            <div class="list-label">更多筛选</div>
            <div class="more-category">
                <a class="more-item active">热门</a>
                <a class="more-item">新书</a>
                <a class="more-item">好评</a>
                <a class="more-item">完结</a>
            </div>
        </div>
    </div>
    <div class="panel-body table book-list">
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="wrapper">
            <div class="total-page">
                共<span class="highlight highlight-gold">28</span>页
            </div>
            <div class="prev-page">
                <a href="#">上一页</a>
            </div>
            <ul class="top-pages">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <div class="next-page">
                <a href="#">上一页</a>
            </div>
            <div class="jump-page">
                跳转到<input type="text" /><button class="secondary">GO</button>
            </div>
        </div>
    </div>
</div>
