<div class="panel panel-special3">
    <div class="panel-header">
        <div class="panel-title">
            女频新书
        </div>
    </div>
    <div class="panel-body table book-list">
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
            <div class="table-cell book-item">
                <div class="thumb">
                    <img src="images/recommend1.jpg" />
                </div>
                <div>
                    <div class="book-title">史上第一纨绔：王的童养媳</div><span class="status status-complete">完结</span>
                </div>
                <div class="book-author">
                    <span>
                    微格格
                </span> |
                    <span>都市生活</span>
                </div>
                <div>
                    天之娇女一朝穿越成悲催娃。
                </div>
                <div>
                    <span class="highlight highlight-red">1024</span>人气 | <span class="highlight highlight-red">56.56%</span>留存
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="wrapper">
            <div class="total-page">
                共<span class="highlight highlight-gold">28</span>页
            </div>
            <div class="prev-page">
                <a href="#">上一页</a>
            </div>
            <ul class="top-pages">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <div class="next-page">
                <a href="#">上一页</a>
            </div>
            <div class="jump-page">
                跳转到<input type="text" /><button class="secondary">GO</button>
            </div>
        </div>
    </div>
</div>
