<ul class="sidebar">
	<li ui-sref="classic.weekly" ui-sref-active="active"><span>本周热门</span></li>
	<li ui-sref="classic.publish" ui-sref-active="active"><span>出版精品</span></li>
	<li ui-sref="classic.mars" ui-sref-active="active"><span>男生精选</span></li>
	<li ui-sref="classic.venus" ui-sref-active="active"><span>女生精选</span></li>
	<li ui-sref="classic.new-mars" ui-sref-active="active"><span>男频新书</span></li>
	<li ui-sref="classic.new-venus" ui-sref-active="active"><span>女频新书</span></li>
	<li ui-sref="classic.complete-mars" ui-sref-active="active"><span>男频完本</span></li>
	<li ui-sref="classic.complete-venus" ui-sref-active="active"><span>女频完本</span></li>
</ul>
